body {
    font-family: 'Ubuntu', sans-serif;
}

.height {
    min-height: 100vh;
}

.title-underline {
    width: 180px;
    height: 5px;
    margin: 0 auto;
}

.height-80 {
    min-height: 80vh;
}

.about-picture {
    background: url(../img/img-about2.jpeg)center/cover no-repeat fixed;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}